.Tasks {
  margin: 5px;
}

.Tasks > h4 {
  text-align: left;
  padding: 0;
  margin: 25px 0 5px 0;
}

.Tasks .button-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.Tasks button {
  height: 54px;
  width: 96px;
  margin: 0;
  padding: 10px 10px;
}

.Tasks button.selected {
  background-color: lightgreen;
}
