.Resources {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 1px 2px #ccc;
}

.App.paused .Resources {
  background-color: lightgray;
}

.Resources > .materials-grid, .Resources > .products-grid {
  display: grid;
  grid-template-columns: 200px;
}

@media (min-width: 703px) {
  .Resources > .materials-grid, .Resources > .products-grid {
    grid-template-columns: 180px 190px 200px;
    grid-column-gap: 50px;
  }
}

.Resources > .materials-grid > span, .Resources > .products-grid > span {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.Resources > .materials-grid > span, .Resources > .products-grid > span > span {
  text-align: left;
}
