@media (min-width: 703px) {
  .Materials {
    width: 200px;
    min-height: 186px;
    margin: 0 5px 10px 2px;
  }

  .Products {
    width: 400px;
  }
}

.App.paused .Resources .Materials,
.App.paused .Resources .Products {
  background-color: lightgray;
}

.products-table,
.materials-table {
  width: 100%;
}

.products-table > thead > tr > th:first-child,
.products-table > tbody > tr > td:first-child,
.materials-table > thead > tr > th:first-child,
.materials-table > tbody > tr > td:first-child {
  text-align: left;
}

.products-table > thead > tr > th,
.products-table > tbody > tr > td,
.materials-table > thead > tr > th,
.materials-table > tbody > tr > td {
  text-align: right;
}
