.TimeTrack {
  display: inline-block;
  width: 100%;
  border-top: 1px solid gray;
  background-color: white;
  padding: 0;
  margin: 0;
}

.TimeTrack > div {
  padding: 15px;
}

@media (min-width: 420px) {
  .TimeTrack {
    margin: 0 0 5px 0;
    border: 1px solid gray;
  }
}

@media (min-width: 703px) {
  .TimeTrack {
    width: 680px;
    margin: 0 0 10px 2px;
  }
}

.App.paused .TimeTrack {
  background-color: lightgray;
}

.TimeTrack .timetrack-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}

.TimeTrack .timetrack-grid > div:first-child {
  display: grid;
  grid-template-columns: auto;
}

.TimeTrack .timetrack-grid > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 703px) {
  .TimeTrack .timetrack-grid > div:first-child {
    grid-template-columns: 65px 75px 65px 55px 65px;
    grid-column-gap: 50px;
  }
}

.TimeTrack .timetrack-grid > div > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TimeTrack button {
  padding: 10px;
}
