@media (min-width: 703px) {
  .TimeTrack {
    width: 680px;
  }
}

.App.paused .TimeTrack {
  background-color: lightgray;
}

.TimeTrack .timetrack-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}

.TimeTrack .timetrack-grid > div:first-child {
  display: grid;
  grid-template-columns: auto;
}

.TimeTrack .timetrack-grid > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 703px) {
  .TimeTrack .timetrack-grid > div:first-child {
    grid-template-columns: 65px 75px 65px 55px 65px;
    grid-column-gap: 50px;
  }
}

.TimeTrack .timetrack-grid > div > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TimeTrack button {
  padding: 10px;
}
