.TimeTrack {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 1px 2px #ccc;
}

.App.paused .TimeTrack {
  background-color: lightgray;
}

.TimeTrack > .materials-grid, .TimeTrack > .timetrack-grid {
  display: grid;
  grid-template-columns: 200px;
}

@media (min-width: 703px) {
  .TimeTrack > .materials-grid, .TimeTrack > .timetrack-grid {
    grid-template-columns: 65px 75px 65px 55px 65px;
    grid-column-gap: 50px;
  }
}

.TimeTrack > .materials-grid > span, .TimeTrack > .timetrack-grid > span {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.TimeTrack > .materials-grid > span, .TimeTrack > .timetrack-grid > span > span {
  text-align: left;
}

.TimeTrack button {
  padding: 10px;
}
