.Worker {
  display: inline-block;
  position: relative;
  width: 100%;
  border-top: 1px solid gray;
  background-color: white;
  padding: 0;
  margin: 0;
}

.Worker:last-child {
  border-bottom: 1px solid gray;
}

.App.paused .Worker {
  background-color: lightgray;
}

@media (min-width: 420px) {
  .Worker {
    border: 1px solid gray;
  }
}

@media (min-width: 703px) {
  .Worker {
    margin: 0;
  }
}

.Worker .happiness-level {
  position: absolute;
  top: 0;
  left: 0;
  height: 103px;
  width: 3px;
}

.Worker .happiness-level > div:last-child {
  position: absolute;
  left: 5px;
  top: 5px;
}

.Worker .stress-level {
  position: absolute;
  top: 0;
  right: 0;
  height: 103px;
  width: 3px;
}

.Worker .stress-level > div:last-child {
  position: absolute;
  right: 5px;
  top: 5px;
}

.Worker .happiness-level > div:first-child,
.Worker .stress-level > div:first-child {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 3px;
  transition: height .7s ease-out;
}
