.Worker {
  display: inline-block;
  border: 1px solid;
  width: 330px;
  padding: 0;
  margin: 10px;
  border-radius: 2px;
}

.Worker .current-task {
  text-transform: capitalize;
}

.App.paused .Worker.active {
  background-color: lightgray;
  border-color: lightgray;
  box-shadow: 0 1px 2px lightgray;
}

.App.paused .Worker.idle {
  background-color: lightgray;
}

.Worker.active {
  border-color: lightgray;
  box-shadow: 0 1px 2px lightgray;
}

.Worker.idle {
  border-color: lightgray;
  box-shadow: 0 1px 2px lightgray;
}
