.App {
  text-align: center;
  width: 100%;
  padding: 0 0 10px 0;
  margin: auto;
}

.App .worker-grid {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  width: 100%;
}

@media (min-width: 420px) {
  .App {
    width: 400px;
  }

  .App .worker-grid {
    grid-gap: 5px;
  }
}

@media (min-width: 703px) {
  .App {
    width: 100%;
  }

  .App .worker-grid {
    grid-template-columns: repeat(2, 335px);
    grid-gap: 10px;
  }
}

@media (min-width: 1050px) {
  .App .worker-grid {
    grid-template-columns: repeat(3, 335px);
  }
}
