.App {
  text-align: center;
}

.App .hoard {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 1px 2px #ccc;
}

.App .hoard.highlight {
  animation: highlighting 1s linear 0s infinite;
}

@keyframes highlighting {
  from {
    border-color: darkgoldenrod;
    box-shadow: 0 1px 4px darkgoldenrod;
  }
  to {
    border-color: lightgray;
    box-shadow: 0 1px 2px #ccc;
  }
}

.App.paused .hoard {
  background-color: lightgray;
}

.App .worker-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
}

@media (min-width: 703px) {
  .App .worker-grid {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1050px) {
  .App .worker-grid {
    grid-template-columns: auto auto auto;
  }
}
